<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packè Store</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body">
    <nav class="w-full px-10 py-5 flex justify-between fixed top-0 left-0 bg-white">
        <h1 class="text-3xl">Packè Store</h1>
        <% var isLoggedIn = typeof isLoggedIn !== "undefined" ? isLoggedIn : true %>
        <% if(isLoggedIn) { %>
            <div class="flex gap-4 items-center">
                <a href="">Shop</a>
                <a href="">Cart</a>
                <a href="">My Account</a>
                <a class="text-red-500" href="/logout">Logout</a>
            </div>
        <% } %>       
    </nav>
